{% extends "main_layout.html" %}
{% block content %}
<center>
<h1>About Wescap</h1><br/>
</center>
<h4>Wescap (Web Scraper Application) Ini adalah aplikasi yang dibuat untuk melakukan pengambilan data dari website</h4>
<h2> Bagaimana cara menggunakannya? MUDAH </h2>
<h5>
    1. Masukkan term dan lokasi yang sesuai dengan daftar pencarian dibawah (dengan huruf kecil semua)<br/>
    2. Klik <strong>"Mulai Scraping"</strong><br/>
    3. Jika sesuai maka <strong>Wescap</strong> hasil dari scraping<br/>
    4. Anda dapat mengunduhnya ke dalam file csv untuk mendapatkan data yang lebih lengkap
</h5>
<br/>
<br/>
<h2> Daftar Pencarian </h2>
<h3>Daftar nama Term yang dapat discrape :</h3>
<h5>
    1. Accountans
    2. Bakeries
    3. Bars
    4. Hospitals
    5. Hotels
    6. Pizzas
    7. Plumbers
    8. Schools
    9. Shops
</h5>
<br/>
<h3>Daftar lokasi yang dapat discrape :</h3>
<h5>
    1. Birmingham
    2. Liverpool
    3. London
    4. Uk
</h5>

<br/>
<h4>Mohon maaf, untuk data selain itu masih dalam pengembangan. Terimakasih</h4>
<br/>
<h5>Pengembang Wescap,</h5>
<br/>
<br/>
<h6>Rifai Slamet</h6>
{% endblock %}